{% extends "base.html" %}

{% block content %}
<h1>Batches</h1>

{% if batches %}
<table border="1" cellpadding="5" cellspacing="0">
    <thead>
        <tr>
            <th>Batch Number</th>
            <th>Order Number</th>
            <th>Start Weight</th>
            <th>End Weight</th>
            <th>Weight Used</th>
        </tr>
    </thead>
    <tbody>
        {% for batch in batches %}
        <tr>
            <td>{{ batch.batch_num }}</td>
            <td>{{ batch.parent_order.order_number }}</td>
            <td>{{ batch.start_weight }}</td>
            <td>
                {% if batch.end_weight == 0 %} {{ "-" }} {% else %} {{ batch.end_weight }} {% endif %}
            </td>
            <td>
                {% if batch.end_weight %} {{batch.used_weight}} {% else %} {{ "-" }} {% endif %}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% else %}
<p>No batches found.</p>
{% endif %}

{% endblock %}