{% extends "base.html" %}

{% block content %}


<div class="container mt-4">
    <h1>Create New Cylinder</h1>
    <div class="alert alert-warning">
        {{ alert_message }}
    </div>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <div style="display: flex; gap: 10px; margin-top: 20px;">
            <form method="post">
                <button type="submit" class="btn-primary">Submit</button>
            </form>

            <form action="{% url 'gas_filling:gas_filling_filling' pk=orderline_id %}" method="get">
                <button type="submit" class="btn-secondary">Cancel</button>
            </form>
        </div>




{% endblock %}
