{% extends "base.html" %}

{% block content %}
<h1>Edit Cylinder</h1>
<form method="post">
    {% csrf_token %}

    {{ form.as_p }}

    <div style="display: flex; gap: 10px; margin-top: 20px;">
        <form method="post">
            <button type="submit" class="btn-primary">Save Changes</button>
        </form>

        <form action="{% url 'gas_filling:order_list' %}" method="get">
            <button type="submit" class="btn-secondary">Back</button>
        </form>
    </div>

{% endblock %}