{% extends "base.html" %}
{% block content %}

<h1>Gas Filling</h1>

<h2>Step 2: Enter Batch Number</h2>

<form method="post">
    {% csrf_token %}
    <label for="batch_number">Batch Number:</label>
    <input type="text" name="batch_num" required autofocus
           value="{{ filling.batch_num|default:last_batch_num }}">
    <button type="submit" class="btn-primary">Next</button>
</form>

<form action="{% url 'gas_filling:order_list' %}" method="get">
    <button type="submit" class="btn-primary" style="margin-top:20px;">Cancel</button>
</form>

{% endblock %}
