{% extends "base.html" %}
{% block content %}

<h1>Gas Filling</h1>

<h2>Step 3: Enter Start Weight</h2>

{% if cylinder.tare %}
<p><strong>Expected Tare Weight:</strong> {{ cylinder.tare }} kg</p>
{% else %}
<p>No tare weight recorded for this cylinder.</p>
{% endif %}

<form method="post">
    {% csrf_token %}
    <label for="tare_weight">Weight with Heel(kg):</label>
    <input type="number" step="0.01" name="heel_weight" required autofocus>
    <button type="submit" class="btn-primary">Next</button>
</form>

{% if error_message %}
<p> {{ error_message }} </p>
{% endif %}

<form action="{% url 'gas_filling:order_show' filling.order_line.order.id %}" method="get" style="margin-top: 20px;">
    <button type="submit" class="btn-primary" style="margin-top:20px;">Cancel</button>
</form>

{% endblock %}
