{% extends "base.html" %}
{% block content %}

<h1>Gas Filling</h1>

<h2>Step 3: Enter Tare Weight</h2>

<form method="post">
    {% csrf_token %}
    <label for="tare_weight">Weight with Heel(kg):</label>
    <input type="number" step="0.01" name="tare_weight" required autofocus>
    <button type="submit" class="btn-primary">Next</button>
</form>

<form action="{% url 'gas_filling:order_show' filling.order.id %}" method="get" style="margin-top: 20px;">
    <button type="submit" class="btn-primary" style="margin-top:20px;">Cancel</button>
</form>

{% endblock %}
