{% extends "base.html" %}

{% block content %}
<h1>Gas Filling Menu</h1>

<form action="{% url 'gas_filling:gas_filling_list' %}" method="get" style="margin-top:20px;">
    <button type="submit" class="btn-primary">List all Cylinders</button>
</form>

<form action="{% url 'gas_filling:gas_filling_create' %}" method="get" style="margin-top:20px;">
    <button type="submit" class="btn-primary">Create a New Cylinder</button>
</form>

<form action="{% url 'gas_filling:gas_filling_filling' %}" method="get" style="margin-top:20px;">
    <button type="submit" class="btn-primary">Gas Filling</button>
</form>

<form action="{% url 'gas_filling:gas_filling_table' %}" method="get" style="margin-top:20px;">
    <button type="submit" class="btn-primary">View All Fillings</button>
</form>

<form action="{% url 'gas_filling:order_list' %}" method="get" style="margin-top:20px;">
    <button type="submit" class="btn-primary">Orders</button>
</form>

{% endblock %}
