{% extends "base.html" %}

{% block content %}
<h1>Gas Filling Menu</h1>

<form action="{% url 'gas_filling:cylinder_list' %}" method="get" style="margin-top:20px;">
    <button type="submit" class="btn-primary">List all Cylinders</button>
</form>

<form action="{% url 'gas_filling:batch_list' %}" method="get" style="margin-top:20px;">
    <button type="submit" class="btn-primary">List all Batches</button>
</form>

<form action="{% url 'gas_filling:order_list' %}" method="get" style="margin-top:20px;">
    <button type="submit" class="btn-primary">Orders</button>
</form>

<form action="{% url 'gas_filling:pdf_create' %}" method="get" style="margin-top:20px;">
    <button type="submit" class="btn-primary">Create PDF</button>
</form>

{% endblock %}
