{% extends "base.html" %}

{% block content %}
<h2>All Cylinders</h2>

{% if cylinders %}
<table border="1" cellpadding="5" cellspacing="0">
    <thead>
        <tr>
            <th>ID</th>
            <th>Barcode</th>
            <th>Tare</th>
            <th>Test Date</th>
            <th>Comments</th>
        </tr>
    </thead>
    <tbody>
        {% for cylinder in cylinders %}
        <tr>
            <td>{{ cylinder.id }}</td>
            <td>{{ cylinder.barcodeid }}</td>
            <td>{{ cylinder.tare }}</td>
            <td>{{ cylinder.test_date }}</td>
            <td>{{ cylinder.comments }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% else %}
<p>No cylinders found.</p>
{% endif %}


<form action="{% url 'gas_filling:gas_filling_home' %}" method="get" style="margin-top: 20px;">
    <button type="submit" class="btn-primary">Back</button>
</form>

{% endblock %}
