{% extends "base.html" %}

{% block content %}
<h1>Show Order Details</h1>
<ul>
    <li>Customer: {{ order.customer }}</li>
    <li>Comments: {{ order.comments }}</li>
    <li>Fill in: {{ order.fill_in }}</li>
    <li>Created: {{ order.created_time }}</li>
</ul>


<h1>Fillings</h1>

{% if fillings %}
<table border="1" cellpadding="5" cellspacing="0">
    <thead>
        <tr>
            <th>Cylinder Barcode</th>
            <th>Tare Weight</th>
            <th>Tare Time</th>
            <th>End Weight</th>
            <th>End Time</th>
            <th>Fill Weight</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for filling in fillings %}
        <tr>
            <td>{{ filling.cylinder }}</td>
            <td>{{ filling.tare_weight }}</td>
            <td>{{ filling.tare_time }}</td>
            <td>{{ filling.end_weight }}</td>
            <td>{{ filling.end_time }}</td>
            <td style="font-weight: bold;">{{ filling.fill_weight }}</td>
            <td>
                <a href="{% url 'gas_filling:filling_show' filling.id %}">Show</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endif %}


<form action="{% url 'gas_filling:gas_filling_filling' order.id %}" method="get" style="margin-top: 20px;">
    <button type="submit" class="btn-primary">Filling</button>
</form>
<form action="{% url 'gas_filling:order_list' %}" method="get" style="margin-top: 20px;">
    <button type="submit" class="btn-primary">Back</button>
</form>

{% endblock %}


