{% extends 'base.html' %}

{% block content %}

<h2>
    {% if order.status == "OPEN" %}
    Mark Order #{{ order.order_number }} as Closed?
    {% elif order.status == "IN_PROGRESS" %}
    Mark Order #{{ order.order_number }} as Packed?
    {% elif order.status == "PACKED" %}
    Mark Order #{{ order.order_number }} as Passed?
    {% elif order.status == "PASSED" %}
    Mark Order #{{ order.order_number }} as Finished?
    {% elif order.status == "FAILED" %}
    Mark Order #{{ order.order_number }} as Reworked?
    {% elif order.status == "REWORKED" %}
    Mark Order #{{ order.order_number }} as Finished?
    {% endif %}
</h2>

<div style="display: flex; gap: 10px; margin-top: 20px;">
    <form method="post">
        {% csrf_token %}

        {% if order.status == "IN_PROGRESS" %}
        <label for="packer_comments"><strong>Packer Comments:</strong></label><br>
        <textarea id="packer_comments" name="packer_comments" rows="2" cols="50"></textarea>
        <br>
        <label for="import_certificate"><strong>Import Certificate Number:</strong></label><br>
        <textarea id="import_certificate" name="import_certificate" rows="1" cols="50"></textarea>
        <br>
        <label for="export_certificate_applied">
            <input type="checkbox" id="export_certificate_applied" name="export_certificate_applied">
            <strong>Export Certificate Applied For?</strong>
        </label>

        {% elif order.status == "PASSED" or order.status == "REWORKED" %}
        <label for="analyst_comments"><strong>Analyst Comments:</strong></label><br>
        <textarea id="analyst_comments" name="analyst_comments" rows="2" cols="50" required></textarea>
        {% endif %}

        <div style="display: flex; gap: 10px; margin-top: 10px;">
            <button type="submit" name="action" value="success" class="btn btn-success">
                {% if order.status == "OPEN" %}
                Mark as Closed
                {% elif order.status == "IN_PROGRESS" %}
                Mark as Packed
                {% elif order.status == "PACKED" %}
                Mark as Passed
                {% elif order.status == "PASSED" %}
                Mark as Finished
                {% elif order.status == "FAILED" %}
                Mark as Reworked
                {% elif order.status == "REWORKED" %}
                Mark as Finished
                {% endif %}
            </button>

            {% if order.status == "PACKED" %}
            <button type="submit" name="action" value="failed" class="btn btn-Failedsuccess">
                Mark as Failed
            </button>
            {% endif %}

            <a href="{% url 'gas_filling:order_list' %}">
                <button type="button" class="btn btn-secondary">Cancel</button>
            </a>

        </div>
    </form>
</div>

{% endblock %}
