{% extends "base.html" %}

{% block content %}
<h1>All Orders</h1>

<form action="{% url 'gas_filling:order_create' %}" method="get" style="margin-top: 20px;">
    <button type="submit" class="btn-primary">Create New</button>
</form>

{% if orders %}
<table border="1" cellpadding="5" cellspacing="0">
    <thead>
        <tr>
            <th>Customer</th>
            <th>Target Fill</th>
            <th>Order Number</th>
            <th>Number of Order Lines</th>
            <th>Added</th>
            <th>Total Fills Done</th>
            <th>Total Filled Weight</th>
            <th>Actions</th>
            <th>Status</th>
        </tr>
    </thead>
    <tbody>
        {% for order in orders %}
        <tr {% if order.status == "PACKED" %}
            style="background-color: #cce5ff; "
            {% elif order.status == "PASSED" %}
            style="background-color: #a9fbd1;"
            {% elif order.status == "OPEN" %}
            style="background-color: #fff3cd;"
            {% elif order.status == "IN_PROGRESS" %}
            style="background-color: #d4edda;"
            {% elif order.status == "FAILED" %}
            style="background-color: #ffa7a7;"
            {% elif order.status == "REWORKED" %}
            style="background-color: #ebcefa;"
            {% elif order.status == "FINISHED" %}
            style="background-color: #8fffa9;"
            {% endif %}>

            <td>{{ order.customer }}</td>
            <td>{{ order.target_fill }}</td>
            <td>{{ order.order_number }}</td>
            <td>{{ order.total_orderlines }}</td>
            <td>{{ order.created_time }}</td>
            <td>{{ order.total_fills }}</td>
            <td>{{ order.total_fill_weight }}</td>
            <td>
                <a href="{% url 'gas_filling:order_show' order.id %}">Show</a> |
                <a href="{% url 'gas_filling:order_edit' order.id %}">Edit</a> |
                <a href="{% url 'gas_filling:gas_filling_filling' order.id %}">New Fill</a>
            </td>
            <td>
                {% if order.status == "OPEN" %}
                Open
                {% elif order.status == "IN_PROGRESS" %}
                <a href="{% url 'gas_filling:order_status' order.id %}" class="text-success fw-bold">In Progress</a>
                {% elif order.status == "PACKED" %}
                Packed
                {% elif order.status == "PASSED" %}
                Passed
                {% elif order.status == "FAILED" %}
                Failed
                {% elif order.status == "REWORKED" %}
                Reworked
                {% elif order.status == "FINISHED" %}
                Finished
                {% endif %}
            </td>

        </tr>
        {% endfor %}
    </tbody>
</table>
{% else %}
<p>No orders found.</p>
{% endif %}


<form action="{% url 'gas_filling:pdf_create' %}" method="get" style="margin-top:20px;">
    <button type="submit" class="btn-primary">Create PDF</button>
</form>

{% endblock %}
