{% extends "base.html" %}

{% block content %}
<h1>Show Order Details</h1>

<h3>General Order Info</h3>
<ul>
    <li><em>Order Number:</em> {{ order.order_number }}</li>
    <li><em>Customer:</em> {{ order.customer }}</li>
    <li><em>Comments:</em> {{ order.comments }}</li>
    <li><em>Packing Instructions:</em> {{ order.packing_instruction }}</li>
    <li><em>QC Instructions:</em> {{ order.qc_instruction }}</li>
    <li><em>Created:</em> {{ order.created_time }}</li>
    <li><em>Target Fill Weight:</em> {{ order.target_fill }}</li>
    <li><em>Total Fills Done:</em> {{ order.total_fills }}</li>
    <li><em>Total Filled Weight:</em> {{ order.total_fill_weight }}</li>
    <li><em>Total Order Lines:</em> {{ order.total_orderlines }}</li>
    <li>
        <em>Status:</em><span style="background-color: {{ order.get_status_colour }}; color: white; font-weight: bold; padding: 2px 6px; border-radius: 4px;">
            {{ order.get_status_display }}
        </span>
    </li>
</ul>

<h3>Order Lines</h3>

{% if order.order_lines.exists %}
<ul>
    {% for line in order.order_lines.all %}
    <li style="margin-bottom: 30px;">
        <strong>Order Line {{ forloop.counter }}:</strong>
        <ul>
            <li><em>Product:</em> {{ line.product }}</li>
            <li><em>Cylinder Size:</em> {{ line.cylinder_size }}</li>
            <li><em>Fill Weight:</em> {{ line.fill_weight }}</li>
            <li><em>Number of Cylinders:</em> {{ line.num_cylinders }}</li>
            <li><em>Cylinder Type:</em> {{ line.cylinder_type }}</li>
            <li><em>Stillage:</em> {{ line.stillage|yesno:"Yes,No" }}</li>
            <li><em>Keep Heel:</em> {{ line.keep_heel|yesno:"Yes,No" }}</li>
        </ul>

        <form action="{% url 'gas_filling:orderline_edit' line.id %}" method="get" style="margin-top:5px;">
            <button type="submit" class="btn-primary">Edit Order Line</button>
        </form>
    </li>
    {% endfor %}
</ul>
{% else %}
No order lines exist for this order
{% endif %}



{% if order.status == "OPEN" %}
<form action="{% url 'gas_filling:orderline_create' order.id %}" method="get" style="margin-top: 20px;">
    <button type="submit" class="btn-primary">New Order Line</button>
</form>
{% endif %}
<hr>


{% if fillings %}

<h1>Fillings</h1>

<table border="1" cellpadding="5" cellspacing="0">
    <thead>
        <tr>
            <th>Cylinder Barcode</th>
            <th>Batch Number</th>
            <th>Heel Weight</th>
            <th>Connection Weight</th>
            <th>End Weight</th>
            <th>Pulled Weight</th>
            <th>Fill Weight</th>
            <th>Actions</th>
            <th>Complete?</th>
        </tr>
    </thead>
    <tbody>
        {% for filling in fillings %}
        <tr>
            <td>{{ filling.cylinder.barcodeid }}</td>
            <td>{{ filling.batch_num }}</td>
            <td>{{ filling.heel_weight }}</td>
            <td>{{ filling.connection_weight }}</td>
            <td>{{ filling.end_weight }}</td>
            <td>{{ filling.pulled_weight }}</td>
            <td style="font-weight: bold;">{{ filling.fill_weight }}</td>
            <td>
                <a href="{% url 'gas_filling:filling_show' filling.id %}">Show</a>
            </td>
            <td>
                {% if not filling.end_weight %}
                <a href="{% url 'gas_filling:continue_filling' pk=filling.id %}">Continue Filling</a>
                {% else %}
                Finished
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endif %}

{% if order.status != "OPEN" %}
<form action="{% url 'gas_filling:gas_filling_filling' order.id %}" method="get" style="margin-top: 20px;">
    <button type="submit" class="btn-primary">Filling</button>
</form>
{% endif %}

<form action="{% url 'gas_filling:order_list' %}" method="get" style="margin-top: 20px;">
    <button type="submit" class="btn-primary">Back</button>
</form>

{% endblock %}


