{% load sales_helpers %}

<hr>

<h5>Item List</h5>

<table>
<th>Product</th>
<th>Batch</th>
<th>Quantity, kg</th>
<th>Cost per kg</th>
{% for line in lines %}
<tr>
<td><select name="product_{{ forloop.counter0 }}">
<option value="0">---</option>
  {% for spec in specs %}
  <option value={{ spec.id }}{{ line|select_option:spec }}>{{ spec.product_name }} ({{ spec.name }})</option>
  {% endfor %}
</select></td>
<td><input type="text" name="batch_{{ forloop.counter0 }}" value="{{ line.batch }}" /></td>
<td><input type="number" name="quantity_{{ forloop.counter0 }}" value="{{ line.quantity_div }}" step="0.1"/></td>
<td><input type="number" name="cost_per_kg_{{ forloop.counter0 }}" value="{{ line.cost_per_kg_div }}" step="0.01"/></td>
</tr>
{% endfor %}
</table>

<input type="hidden" name="line_count" value="{{ line_count }}"/>
<input type="hidden" name="customer_id" value="{{ obj.customer_id }}"/>

<hr>

<h5>Notes</h5>
<ul>
<li><i>Our reference</i> cannot be blank.</li>
<li>If <i>Customer reference</i> is blank, this is assumed to be a quotation, if it has a value the system will assume the order is placed; deleting the value will not change it back to a quote.</li>
<li><i>Batch number</i> is optional when creating an order.</li>
<li>Total costs will be calculated later.</li>
<li><i>Quantity</i> should be to the nearest 0.1 kg.</li>
<li>Order lines can be left blank - if the quantity is zero or blank, the line will be ignored.</li>
<li>If you want to delete an order line, just set the quantity to zero.</li>
<li>Once an order is created, you can only add one new line at a time, but by doing it multiple times you can add dozens of them!</li>
</ul>
